<body>
    {% extends "base.html" %}

    {% block start %}
    {% if user.is_authenticated %}
    <div class="container mt-5 pt-5 col-6">
        <form method="POST">
            {% csrf_token %}
            {%include "messages.html"%}
            <div class="mb-3">
                <label for="information" class="form-label">Information</label>
                <input type="text" name="information" required class="form-control" id="information">
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control" id="amount" required>
            </div>
            <div class="mb-3">
                <input type="radio" name="type" class="" value="debit" id="debit" required><label for="debit"
                class="form-label">Debit</label><br>
                <input type="radio" name="type" class="" value="credit" id="credit" required><label for="credit"
                class="form-label">Credit</label>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="datetime-local" name="date" class="form-control" id="date" value='{{date}}' autocomplete="on" required>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="from" class="form-label">From</label>
                <input type="date" name="from" required class="form-control" id="from">
            </div>
            <div class="mb-3">
                <label for="to" class="form-label">To</label>
                <input type="date" name="to" required class="form-control" id="to">
            </div>
            <div class="mb-3">
                <label for="t_type" class="form-label">Type</label>
                <select name="t_type" id="t_type" class="form-select">
                    <option value="all">ALL</option>
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Go</button>



        </form>
    </div>
    {% if data %}
    {% if total %}
    <h3>Total: {{total}}</h3>
    {% else %}
    <h3>Total credit: {{total_credit}}</h3>
    <h3>Total debit: {{total_debit}}</h3>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>DATE</th>
                <th>INFO</th>
                <th>AMOUNT</th>
                <th>TYPE</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row.date_time}}</td>
                <td>{{row.info}}</td>
                <td>{{row.amount}}</td>
                <td>{{row.type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    NO DATA
    {% endif %}
    {% else %}
    <div class="d-flex justify-content-center my-5">
        <a class="btn btn-primary mx-1" href="/login">Login</a>
        <a class="btn btn-primary mx-1" href="/register">Sign Up</a>
    </div>
    {% endif %}

    {% endblock %}

</body>

</html>