{% extends "base.html" %}

{%  block start %}

<div class="container col-md-3 mt-5 col-10 py-4 px-4 text-center" style="border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);">
    <h4>Login to Rokda</h4>
    <form method="POST" class="text-start pt-2">
        {% csrf_token %}
        {%include "messages.html"%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary col-12 my-2">Login</button>
      </form>
    <div class="container my-2 col-6">or <a class="" href="{%url 'register_page'%}">Sign-up</a></div>

</div>


{% endblock %}